# Configurações do Azure Data Lake Storage
ADLS_ACCOUNT_NAME=
ADLS_FILE_SYSTEM_NAME=
ADLS_SAS_TOKEN=sv=
ADLS_DIRECTORY_NAME=
# Configurações do SQL Server
SQL_SERVER=
SQL_DATABASE=
SQL_SCHEMA=
SQL_USERNAME=
SQL_PASSWORD=